.coffee-header {
    background-image: url('../../images/coffee-page/coffee-bg-image.png');
    padding-bottom: 85px;
}
.pleasure-header {
    background-image: url('../../images/coffee-page/pleasure.png');
    padding-bottom: 85px;
    background-repeat: no-repeat;
}